<link rel="stylesheet" href="~/css/ppStyle.css" />

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model PerfectProjects.Model.ShortDescription

<div class="text-center">
    <br />
    <h2>Create short description for your project.</h2>
    <br />
    <br />
</div>
<div>

    <form method="post" enctype="multipart/form-data">
        <input hidden asp-for="Id"></input>
        <input hidden asp-for="UserId"></input>
        <div class="text-danger"></div>
        <div class="form-group dark-theme col-lg-5">
            <label>Project Title</label>
            <input asp-for="Title" class="form-control dark-theme" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-8">
            <label>Short description</label>
            <textarea asp-for="Description" id="textArea" rows="7" class="form-control dark-theme"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-8">
            <p><input type="file" accept="image/jpeg,image/png" name="file" onchange="loadFile(event)" onstyle="display: none;"></p>
            <p><label for="file" style="cursor: pointer; color:blue">Click HERE to upload image</label></p>
            <p><img id="output" class="flex-fill" /></p>
        </div>
        <div class="offset-lg-6 col-lg-2">
            <button class="form-control btn btn-light border" type="submit" asp-action="Create">next</button>
        </div>
    </form>
</div>
<script src="~/js/CreateProjectShortController.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
