@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model PerfectProjects.Model.ViewModel.ShortPreviewModel

<br />
<div class="text-sm-center">
    <h1>This is how your short preview will look like.</h1>
</div>
<br />
<br />
<form method="post" enctype="multipart/form-data">
    <div class="justify-content-center text-center">
        <div class="col-md-8 offset-md-2">
            <h2>@Model.ShortDescription.Title</h2>
        </div>
        <div class="col-md-8  offset-2">
            <p><img id="output" src="data:image/gif;base64,@Model.ImageString" /></p>
        </div>
        <div id="textArea" class="col-md-8  offset-md-2">
            <p class="text-break">@Model.ShortDescription.Description</p>
        </div>
        <div class="small col-md-2 offset-md-8">
            <p>Author: @Model.NickName</p>
        </div>
    </div>
    <div>
        <button type="submit" asp-action="RedirectToLongDescription" class="btn btn-success">next</button>
        <button type="submit" asp-action="Edit" asp-route-id="@Model.ShortDescription.Id" class="btn btn-success">back</button>
        
    </div>
</form>    
<script src="~/js/CreateProjectShortController.js"></script>
