
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model PerfectProjects.Model.Description

<div class="text-center">
    <br />
    <h2>Create description</h2>
    <br />
    <br />
</div>
<div>

    <form method="post" enctype="multipart/form-data">
        <input hidden asp-for="Id" />
        <p id="picCounter">0</p>

        <div id="description"></div>
        <div class="form-group col-lg-8">
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label id="image" onclick="appendImage()" class=" btn form-control btn btn-light border">image</label>
            </div>
            <div class="col-lg-2">
                <label id="text" onclick="appendTextArea()" class="form-control btn btn-light border">text</label>
            </div>
            <div class="offset-lg-6 col-lg-2">
                <button class="form-control btn btn-success border" type="submit" asp-action="Create">finish</button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/createProject.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
