
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model PerfectProjects.Model.Description

<div class="text-center">
    <br />
    <h2>Create description</h2>
    <br />
    <br />
</div>
<div>

    <form method="post" enctype="multipart/form-data">
        <input hidden asp-for="Id" />

        <div id="description"></div>
        <input id="photo" type="file" accept="image / jpeg, image / png" name="file" onchange="loadFile(event)" onstyle="display: none;">
        <div class="row">
            <div class="col-lg-2">
                <button id="image" class="form-control btn btn-light border">image</button>
            </div>
            <div class="col-lg-2">
                <button id="text" class="form-control btn btn-light border">text</button>
            </div>
            <div class="offset-lg-6 col-lg-2">
                <button class="form-control btn btn-success border" type="submit" asp-action="Create">finish</button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/CreateProjectShortController.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>

    $(document).ready(function () {
        $("#image").click(function () {
            var anImage = '<input id="photo" type="file" accept="image / jpeg, image / png" name="file" onchange="loadFile(event)" onstyle="display: none;">'
            $("#description").add(anImage);
            $("#photo").trigger('click');
        });
        $("#photo").
    });
</script>