@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model PerfectProjects.Model.Description
<br />
<br />
<br />
<form method="post" enctype="multipart/form-data">
    <p hidden>@Model.ShortDescription.Id</p>
    <div class="justify-content-center text-center">
        @*TODO*@
    </div>
    <div>
        <button type="submit" asp-controller="CreateProject" asp-action="Index" class="btn btn-success">complete</button>
        <button type="submit" asp-action="Edit" asp-route-id="" class="btn btn-success">back</button>

    </div>
</form>
