@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using PerfectProjects.Utility;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PerfectProjects</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm" style="background-color: #362be0;">
            <div class="container collapse navbar-collapse ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="logo nav-link layout-element" asp-area="" asp-controller="Home" asp-action="Index">Perfect Projects</a>
                        </li>
                    </ul>
                     <ul class="navbar-nav">
                        @if (User.IsInRole(SD.ROLE_USER))
                        {
                            <li class="nav-item flex-fill">
                                <a class="nav-link layout-element" asp-area="" asp-controller="CreateProjectShort" asp-action="Index">Create Project</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link layout-element" asp-area="" asp-controller="UserProfile" asp-action="Index">My Profile</a>
                            </li>
                        }
                    </ul>
                    <ul  class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="nav-item">
                                <a class="nav-link layout-element" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-white layout-element">Logout</button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link layout-element" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link layout-element" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
                            </li>
                        }
                    </ul>
                    @*<partial name="_LoginPartial" />*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-dark footer text-muted">
        <div class="container text-white">
            &copy; 2021 - Perfect Projects - Oskar Kuchejda
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
