@using Microsoft.AspNetCore.Identity
@model PerfectProjects.Model.ViewModel.UserProfileViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using PerfectProjects.Utility;

@{Layout = "~/Views/Shared/_Layout.cshtml";}

@if (SignInManager.IsSignedIn(User))
{
    <div class="col-md-8 offset-md-2 text-center">
        <h1>This is @Model.Nickname's profile!</h1>
        <br />

        <br />
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li>
                        <a onclick="showProjectsLinks()" class="h3" style="cursor:default">My Projects</a>
                    </li>
                    <br />
                    <li>
                        <a class="h3" btn>About Me</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-6 offset-1 text-center" id="profileContent">
            @foreach (var i in Model.ShortDescriptions)
            {
                <div style="cursor: default; " class="text-center"><a class="lighting-text">@i.Title</a></div>
            }
        </div>
    </div>
}
else
{
    <br />
    <br />
    <h1>Login or create account to show this page. </h1>
}
<script src="~/js/UserProfile.js"></script>