@using Microsoft.AspNetCore.Identity
@model PerfectProjects.Model.ViewModel.UserProfileViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using PerfectProjects.Utility;
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<script src="~/lib/jquery/dist/jquery.js"></script>


@if (SignInManager.IsSignedIn(User))
{       
    <br/>
    <br/>
    <div class="col-md-8 offset-md-2 text-center">
        <br />
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-3">
            <div id="p-p-side-bar" class="text-center p-2">
                <ul class="list-unstyled components">
                    <li><p class="logo">This is @Model.Nickname's profile!</p></li>
                    <li id="my-projects-li" class="layout-element" style="cursor:default">My Projects</li>
                    <li id="about-me-li" class="layout-element" style="cursor:default">About Me</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 offset-1 text-center" id="profileContent">
                <div id="project-list" >
                    @foreach (var i in Model.ShortDescriptions)
                    {
                        <div class="row border">
                            <div style="cursor: default; " class="text-justify col-md-8 mt-2"><a >@i.Title</a>
                            </div>
                            <div class="col-3">
                                @if (i.IsVisible)
                                {
                                    <a asp-route-shortDescriptionId=@i.Id class="btn btn-success d-flex justify-content-center m-1" asp-action="ChangeVisibleToFalse">Public</a>
                                }
                                else
                                {
                                    <a asp-route-shortDescriptionId=@i.Id class="btn btn-danger d-flex justify-content-center m-1" asp-action="ChangeVisibleToTrue">Private</a>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div hidden id="about-me" class="border">
                    <p>@Model.AboutMe</p>
                </div>   
        </div>
    </div>
}
else
{
    <br />
    <br />
    <h1>Login or create account to show this page. </h1>
}

<script>
    $("#my-projects-li").click(function () {
        $("#project-list").show();
        $("#about-me").attr("hidden", "true");
    });
    $("#about-me-li").click(function () {
        $("#project-list").hide();
        $("#about-me").removeAttr("hidden");
    });
</script>

<script src="~/js/UserProfile.js"></script>
